.setting-c{
    margin-top: 60px;
 }
 .set-title{
     padding: 10px 0;
font-size: 18px;
font-weight: bold;
 }


 .setting-cc{

display: block;
background: #ffffff;
padding: 15px;
margin: auto;
box-shadow: 0px 11px 12px 0 rgba(95, 95, 95, 0.15);
border: 1px solid #eee;
 }
 .boxs{
     margin-top: 15px;
         width: 400px;
         margin: auto;
 }
 .boxs-title{
    margin-top: 19px;
            background: #ebebeb;
padding: 7px;
border-radius: 4px;
border-left: 3px solid #2192c8;
cursor: pointer;
 }
 .boxs-center{     background: #f7f7f7;
padding: 9px;
display: none;}
 .boxs-center input{
         padding: 5px;
width: 100%;
box-sizing: border-box;
margin-top: 15px;
border: 1px solid #ccc;
border-radius: 4px;

 }
 .boxs-center input[type='submit']{
background: #2192c8;
border: none;
color: #fff;
cursor: pointer;
 }